<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fuzzy Guacamole Logs</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/logs.css">
  </head>
  <body>
    <div class="head">
      <h2>Fuzzy Guacamole Dashboard</h2>
      <div class="settingsImg" onclick="document.getElementById('navigation').classList.toggle('hidden');">
        <img src="/static/settings.png" alt="">
      </div>

    </div>

    <div id="navigation" class="navigation hidden">
      <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/logs">Logs</a></li>
      </ul>
    </div>

    <div class="logs-wrapper">
      <div class="container log">
        <h2>printer.log</h2>
        {% if error %}
          <p class="error">An error occured while loading printer.log: {{message}}</p>
        {% else %}
          {% for log in printerLogs %}
            <p>{{log}}</p> <br />
          {% endfor%}
        {% endif %}
      </div>
    </div>
  </body>
</html>
