@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #eee;
  height: 100%;
}

html {
  height: 100%;
}

.container {
  padding: 30px;
  margin: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container:hover {
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}

.info {
  width: 25%;
  float: left;
  height: 400px;
}

.dashboard-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.blocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


  background-color: rgba(32, 32, 32, 0.8);

  text-align: center;
  padding-top: 20%;

  color: rgb(230, 230, 230);
}

.form-container {
  width: 20%;
  text-align: center;
  margin: auto;
}

.connectionSelect {
  margin: 20px auto;
  padding: 15px 50px;
  border: none;
  background-color: rgba(255,255,255, 0.8);
  width: 100%;
}

.btn {
  padding: 15px 10px;
  border: none;
  background-color: #1683ff;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  width: 48%;
}

/* .again:disabled {
  cursor: wait;
} */
.btn:disabled {
  cursor: wait;
  background-color: #116acf;
}

.not-blocking {
  display: none;
}

.head {
  width: 100%;
  background: #1683ff;
  padding: 15px;
}

.head .settingsImg {
  height: 50px;
  width: 50px;
  /* float: right;
  margin-left: 0;
  margin-top: auto; */
  position: absolute;
  top: 7.5px;
  right: 20px;
  /* padding: 20px; */
  border-radius: 50%;
  background-position: center;
  text-align: center;
}

.head .settingsImg img {
  height: 50%;
  margin-top: 25%;
}

.head .settingsImg:hover{
  background-color: rgba(0,0,0,0.2);
}

.head h2 {
  color: #fff;
  font-size: 22.5px;
}

.navigation ul li a{
  background: #fff;
  padding: 20px;
  width: 100%;
  float:right;
  margin-left: auto;
  display: block;
  text-decoration: none;
  color: black;
}

.navigation ul li a:hover {
  background-color: rgba(245, 245, 245);
}

.navigation {
  position: absolute;
  right: 20px;
  top: 63px;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
  width: 10%;
  z-index: 1;
}

.navigation ul {
  list-style-type: none;
}

.hidden {
  display: none;
}
