.info{
  width: 30%;
  float left;
  height: 550px
}

.position {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  background-color: #fbfbfb;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;
  border-radius: 5px;

  margin-bottom: 65px;

}
.position div {
  width: 30%;
  margin: 1.65%;
  font-size: 12.5px;
}

.temperature {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  background-color: #fbfbfb;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;
  border-radius: 5px;

  margin-bottom: 65px;
}
.temperature div {
  width: 48%;
  margin: 1%;
  font-size: 12.5px;
  margin-bottom: 5px;
}

.info-text{
  background-color: #fbfbfb;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;
  border-radius: 5px;

  letter-spacing: 3px;


  float: left;
  padding: 3px 0;
}

.buttons {
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  width: 100%;
  padding: 10px;
  margin: 5px;
}

.buttons .pause {
  font-size: 15px;
  border: none;
  background-color: #1683ff;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.buttons .stop {
  font-size: 15px;
  border: none;
  background-color: #f44336;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
